* 
{
    padding: 0;
    margin: 0;
}

body 
{
    display: flex;
    min-height: 100vh;
    background-color: rgb(141, 183, 183);
    justify-content: center;
    align-items: center;
}

.container
{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(to right top, #43389F 0%, #4ec6ca 100%);
}

.main
{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', 'Courier', sans-serif;
    font-weight: 700;
    height: 50%;
}

.main .large 
{
    font-size: 82px;
}

.main .small 
{
    margin-top: -8%;
    font-size: 23px;
    z-index: 20;
    letter-spacing: 0.05em;
}

.number 
{
    display: flex;
    flex-direction: row;
}

.zero-1,
.zero-2
{
    z-index: 8;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 24px solid #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    margin-left: -8px;
}

.zero-2
{
    margin-left: -18px;
    z-index: 6;
}

.one-2 
{
    z-index: 10;
    height: 100px;
    width: 25px;
    background-color: white;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}